# Node.js and npm
node_modules/
npm-debug.log

# VSCode
.vscode/

# JavaScript and TypeScript
*.js.map
*.tsbuildinfo

# Build and dist
build/
dist/

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
*.iml
*.sublime-text
*.sublime-workspace
*.sublime-project

# Other
.env
coverage/
temp/
